# ref: https://github.com/docker-library/official-images
name: amd64 Docker

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check docker
        run: |
          docker version
          docker info
          docker buildx ls
      - name: Build env image
        run: docker build --target env .
      - name: Build devel image
        run: docker build --target devel .
      - name: Build install image
        run: docker build --target install .
      - name: Test project
        run: docker build --target run .
