name: MacOS

on: [push, pull_request]

jobs:
  # Building using the github runner environement directly.
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Check python
      run: python3 --version
    - name: Install
      run: python3 -m pip install -U --user "ortools==9.5.*"
    - name: Test
      run: python3 basic_example.py
